<!DOCTYPE html>
<html>
  <head>
    <title>Find friend's location</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="./css/style.css">  
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUVMPkDskVQlUsdw92-Ygv9qhIB0UOQH4"></script>
  </head>
  <body>
    <button id="signout-button" style="display: block;">Sign Out</button>
    <image id="loading" src="./image/icon.gif"></image>
    <p id="myEvent"></p>
    <button id="showMap" onclick="showAndHide()" style="display:none">Show and Hide</button>
    <image id="loading2" src="./image/icon.gif" style="display:none"></image>
    <div id="map"></div>
    <script src="./js/calendar.js"></script>
    <script async defer src="https://apis.google.com/js/api.js?onload=handleClientLoad">
    </script>
  </body>
</html>