<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" type="text/css" href="./css/index.css">
  </head>
  <body>
    <p>Check Event And Location</p>
    <button id="authorize-button"></button>
    <button id="signout-button">Sign Out</button>

    <script src="./js/index.js"></script>
    <script async defer src="https://apis.google.com/js/api.js?onload=handleClientLoad"></script>
    <script async defer src="https://apis.google.com/js/platform.js?onload=renderButton"></script>
  </body>
</html>