#map {
  height: 100%;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#signout-button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 72px;
  height: 36px;
  text-align: center;
  color: #FFF;
  background-color: #FE0000;
  opacity: 0.7;
  cursor: pointer;
  z-index: 9999
}

#showMap {
  height: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgb(66, 211, 255);
  opacity: 0.7;
  cursor: pointer
}

#map:last-child{
  margin-top: 17%;
  text-align: center;
  /* display: none */
  z-index: 9999
}

p{
  margin: 0;
  margin-left:10px

}

.customMarker {
    position:absolute;
    cursor:pointer;
    width:33px;
    height:33px;
    /* -width/2 */
    margin-left:-17px;
    /* -height + arrow */
    margin-top:-43px;
    border-radius:50%;
    padding:0px;
}
.customMarker:after {
    content:"";
    position: absolute;
    bottom: -5px;
    left: 11px;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #424242 transparent;
    display: block;
    width: 0;
}
.customMarker img {
    width:30px;
    height:30px;
    margin:1.5px;
    border-radius:50%;
}